body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Works on Firefox */
* {
  scrollbar-width: 10px;
  scrollbar-color: rgba(219, 2, 2, 1) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(219, 2, 2, 1);
  border-radius: 20px;
  border: none;
}

@font-face {
  font-family: "HyliaSerif";
  /*Can be any text*/
  src: local("HyliaSerifBeta-Regular"),
    url("./fonts/HyliaSerifBeta-Regular.otf") format("opentype");
}

@font-face {
  font-family: "VeganStyle";
  /*Can be any text*/
  src: local("VeganStylePersonalUse-5y58"),
    url("./fonts/VeganStylePersonalUse-5Y58.ttf") format("truetype");
}